<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ranjithsiji</h1>
            <hr>
            <p>Free software advocate and Full stack webdeveloper for 10 years.
            <br/>
            <a href="https://w.wiki/Enr">Bureaucrat</a> at Malayalam Wikipedia, Maintaining <a href="https://schoolwiki.in/index.php?title=Special:ListUsers&group=bureaucrat">Mediawiki instances</a> for Dept of Education Kerala Govt.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
